body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 2em;
    font-weight: bold;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tab {
    margin: 0 10px;
    cursor: pointer;
}

.about {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
}

.navigation {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.content {
    display: none;
}

.chart-header {
    text-align: center;
}

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
  display: inline-block;
  /* Other styles */
}

/* styles.css */
#nav-bar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
  }
  
  #nav-bar li {
    float: left;
  }
  
  #nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #nav-bar li a:hover {
    background-color: #111;
  }
  
  #nav-bar .active {
    background-color: #4CAF50;
  }
  #buttons {
    text-align: center;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  #investment-value-display {
    margin-left: 20px;  /* Add some space between the chart and the display */
    font-size: 20px;
  }
  
  #aapl-chart svg {
    max-width: 100%;
    height: auto;
  }
  